html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Zen Old Mincho", serif;
}

html {
  color-scheme: white dark;
}
body {
  color: #fff;
  background: linear-gradient(to bottom, #000000, #330121);
  background-size: 100% 100%;
  background-attachment: fixed;
}
